$def with(page)
<html>
    <head>
         <meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" contetn="IE=edge">
	    <meta name="viewport" content="width=device-width, user.scalable=no, initial-scale=1.0, maximum-scale=1.0, minium-scale=1.0">
        <title>Rentas Peliculas</title>
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
         <header>
		    <div class="container">
			    <h1>Renta de Peliculas</h1>
		    </div>
	    </header>
        <section id="form">
            <div class="container">
                $:page 
            </div>
        </section>
        <script src="../static/js/jquery.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>            
    </body>
</html>