$def with (form,results,state,grupo)
<div class= "col-xs-12 col-sm-6 col-md-8 col-lg-9">
    <h1> Renta de Peliculas</h1>
    <p> Costo por renta de Peliculas</p>
    <form name="main" method="post"  class="form-inline">
        <div class="form-group">
    $if not form.valid:<p class="error">Informacion erronea</p>
    $:form.render_css()
         <input class='btn btn-success' type="submit" />
        </div>
    </form>
   $if results:  
    <form name="main" method="post" class="form-inline">   
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <tr class="active info">
                        <th>Estado</th>
                        <th>Periodo</th>
                        <th>Grupo de edad</th>
                        <th>Planeado</th>
                        <th>No planeado</th>
                    </tr>                                    
                    $for row in results:
                    $if row['Nom_Ent'] == state and row['GpoEdad'] == grupo :
                        <tr class="active">                                           
                            <td>$row['Nom_Ent']</td>
                            <td>$row['Annio']</td>
                            <td>$row['GpoEdad']</td>
                            <td>$row['Planeado']</td>
                            <td>$row['Noplaneado']</td>
                        </tr>
                </table>
            </div>
        </div>
    </form>
</div>