$def with (form,total,pelicula,formato,tiempo )
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
    <form name="main" method="post" class="form-inline">
        <div class="form-group">
            $if not form.valid: <p class="error"></p>
            $:form.render_css()
        </div>
        <input class="btn btn-success" type="submit" />
    </form>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover ">
                <tr class="active info">
                    <th>Pelicula</th>
                    <th>Formato</th>
                    <th>Tiempo</th>
                    <th>Total</th>
                </tr>
                
                    <tr class="active">
                        <td>$pelicula</td>
                        <td>$formato</td>
                        <td>$tiempo </td>
                        <td>$total</td>
                    </tr>
            </table>
        </div>
    </div>
</div>